@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilites {
  .font-bold-32 {
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
  }

  .font-bold-20 {
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
  }

  .font-bold-16 {
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px !important;
    line-height: 21px !important;
  }

  .font-bold-12 {
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px !important;
    line-height: 16px !important;
  }

  .font-regular-14 {
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px !important;
    line-height: 18px !important;
  }
}

:root {
  box-sizing: border-box;
}
